<h1>API Demo</h1>

<div>

  <h2>API Get</h2>
  <button (click)="getUser()">Get</button><br />
  {{ MyUser.username }}<br />
  {{ MyUser.firstname }}<br />
  {{ MyUser.lastname }}<br />
  {{ MyUser.email }}

</div>

<div>

  <h2>API Post</h2>

  Username: <input type="text" [(ngModel)]="newUsername" /><br />
  First Name: <input type="text" [(ngModel)]="newFirstname" /><br />
  Last Name: <input type="text" [(ngModel)]="newLastname" /><br />
  Email: <input type="text" [(ngModel)]="newEmail" /><br />
  <button (click)="postUser()">Post</button>

</div>